body {
    color: white;
    background-image: url("img/creare.png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-shadow: white;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

div {
    color: white;
    font-family: 'Roboto', sans-serif;
}